* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'roboto', sans-serif;
    text-decoration: none;
    
}
a {
    color: white;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    height: 100%;
}
body {
    background-color: white;
}
button {
    cursor: pointer;
}
.container {
    max-width: 1400px;  
    margin: 45px auto;
    padding:20px;
}
.heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.description {   
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    max-width: 1000px;
    margin: 24px auto;
}
.macbook {
    max-width: 680px;
    display: flex;
    align-items: center;
    gap: 76px;
    margin: 60px auto;
}
.chose {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.colors {
    display: flex;
    gap: 10px;
}
.color {
    width: 50%;
    height: 42px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    transition:300ms
}
.active {
    background: rgba(0, 113, 227, 1);
}
.not-active {
    background: rgba(207, 231, 255, 1);
    color: rgba(121, 121, 121, 1);
    border: 1px white solid;
    transition: 300ms;
}
.color:hover {
    border:1px green solid;
}
.models {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.model {
    border: 2px solid rgba(207, 231, 255, 1);
    width: 100%;
    height: 57px;
    background: white;
    padding: 18px 20px;
    text-align-last: left;
    border-radius: 10px;
    transition: 300ms;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.model:hover {
    border: 2px solid rgba(0, 127, 255, 1);
}
.title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}
.macbook-color {  
font-size: 24px;
font-weight: 700;
color: rgba(0, 113, 227, 1);
}
.price {
    margin: 48px 0;
    font-size: 48px;
    font-weight: 700;
    cursor: pointer;
}



@media (max-width:700px) {
    .heading{
        font-size: 25px;
    }
    .description {
        font-size: 16px;
    }
    .chose {
        margin: 0 auto;
        max-width: 75vw;
    }
    .macbook {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .swiper {
        max-width: 100%;
    }
    .macbook img {
        scale:0.8;
    }
}

.modal {
    position: fixed;
    display: grid;
    place-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 98.9vw;
    background-color: rgba(0, 0, 0, 0.47);
    z-index: 5;
}
.modal-form {
    background: white;
    width: 592px;
    height: 388px;
    position: relative;
    display: grid;
    place-items: center;
    margin: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 80%;
}
.modal-form input {
    display: block;
    width: 100%;
    height: 48px;
    padding:0 15px;
    border-radius: 10px;
    outline: none;
}
.modal-form input:nth-of-type(3) {
    background-color: blue;
    color: white;
    border: none;
}
.form input:nth-of-type(3) {
    cursor: pointer;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: grid;
    place-content: center;
    background-color: white;
    border: none;
}

.burger-menu {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.burger-menu span {
    font-size: 50px;
}
.menu-full {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 25%;
    height: 100%;
    padding: 40px;
    transform: translateX(150%);
    transition:.3s ease;
    overflow: auto;
}
.menu-full h1 {
    text-align: center;
    margin-bottom: 50px;
}
.menu-full ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.menu-full li {
    font-size: 25px;
    cursor: pointer;
}
.menu-full span {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width:920px) {
    .modal-form {
        max-width: 420px;
    }
    .modal-form {
        width: 80%;
    }
    .form h1 {
        font-size: 25px;
    }
    .burger-menu span{
        font-size: 35px;
    }
    .menu-full {
        transform: translateY(-150%);
        width: 100%;
        margin: 0 auto;
    }
    .menu-full h1{
        font-size: 40px;
    }
    .menu-full li {
        text-align: center;
    }
    .close2 {
        right: 35px;
        top: 35px;
        
    }
    .close2 span {
        font-size: 35px;
    }
}
@media (max-width:424px) {
    .close2 span {
        font-size: 25px;
    }
}

.swiper {
    max-width: 60%;
    height: 300px;
}
.swiper-slide {
    max-width: 100%;
}